<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Archivo de configuración de Logback para Spring Boot.
    Este archivo define cómo y dónde se mostrarán los logs de la aplicación en la consola.
-->
<configuration>
<!--
    Appender llamado "STDOUT" que envía los logs a la consola.
    El encoder define el formato de ada líjnea de log:
        [%thread]  -> Nombre del hilo
        %-5level   -> Nivel del log (INFO, ERROR, etc.)
        %logger    -> Nombre del logger (clase o paquete)
        %msg       -> Mensaje del log
        %n         -> Salto de línea
-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%thread] %-5level: %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>